@import './bootstrap/index.scss';

#root {
  min-height: 100vh;
  background: $dark;
}

$text-gray: #a3a5aa;

.navbar {
  .nav-link {
    text-decoration: none;
    position: relative;
    color: #a3a5aa;

    &.active,
    &:hover {
      color: $white;
    }
    &:after {
      content: '';
      display: block;
      height: 3px;
      width: 0;
      background: transparent;
      position: absolute;
      bottom: 2px;
      left: 0;
      transition: width 0.3s ease, background-color 0.3s ease;
    }
    &:hover:after {
      width: 100%;
      background: $success;
    }
    &.active:after {
      width: 100%;
      background: $success;
    }
  }
}

.navbar-toggler:focus {
  box-shadow: none;
  background: $success;
}

.footer-group {
  list-style-type: none;
  padding: 0;

  .footer-link {
    text-decoration: none;
    position: relative;
    color: #a3a5aa;
    font-weight: 200;

    &.head {
      color: $white;
      font-weight: 500;
    }

    &.active,
    &:hover {
      color: $white;
    }
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      position: absolute;
      bottom: 0px;
      left: 0;
      transition: width 0.3s ease, background-color 0.3s ease;
    }
    &:hover:after {
      width: 100%;
      background: $white;
    }
    &.active:after {
      width: 100%;
      background: $white;
    }
  }
}

.text-gray {
  color: #a3a5aa;
}

.hero-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: $white;
}

.text-knowledge {
  width: 138px;
}

.text-joining {
  width: 88px;
}

.auth-page {
  margin-top: 30px;
}

@include media-breakpoint-up(sm) {
  .hero-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $white;
  }
  .text-knowledge {
    width: 158px;
  }
  .text-joining {
    width: 88px;
  }
  .auth-page {
    margin-top: 90px;
  }
}
@include media-breakpoint-up(md) {
  .hero-title {
    font-size: 2rem;
    font-weight: 500;
    color: $white;
  }
  .text-knowledge {
    width: 196px;
  }
  .text-joining {
    width: 116px;
  }
  .auth-page {
    margin-top: 105px;
  }
}
@include media-breakpoint-up(lg) {
  .hero-title {
    font-size: 3rem;
    font-weight: 500;
    color: $white;
  }
  .text-knowledge {
    width: 256px;
  }
  .text-joining {
    width: 167px;
  }
  .auth-page {
    margin-top: 148px;
  }
}
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(xxl) {
}
