@import './bootstrap/index.scss';
@import './components/index.scss';
@import './pages/index.scss';

#root {
  min-height: 100vh;
  background: $dark;
}

.db-underline {
  border-bottom: 4px double;
}

.text-gray {
  color: #a3a5aa;
}

.bg-gray {
  background: #a3a5aa;
}

.img-checkout {
  border-radius: 30px;
}

.card-payment-method {
  min-width: 300px;
  height: 90px;
}

.shadow-success {
  -webkit-box-shadow: 8px 8px 18px -8px rgb(1, 251, 51);
  -moz-box-shadow: 8px 8px 18px -8px rgb(1, 251, 51);
  box-shadow: 8px 8px 18px -8px rgb(1, 251, 51);
}
