$space-companies-wrapper: 240px;

.hero-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: $white;
}

.text-knowledge {
  width: 138px;
}

.text-joining {
  width: 88px;
}

.img-carousel {
  width: 350px;
  height: 280px;
  object-fit: cover;
}

.companies-logo-wrapper {
  width: 100%;
  background: $white;
  padding-top: $space-companies-wrapper - 120px;
  margin-top: -$space-companies-wrapper + 120px;
}

.img-testimony {
  width: 424px;
  height: 550px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-event-testimony {
  position: absolute;
  bottom: -50px;
  left: 120px;
}

@include media-breakpoint-up(sm) {
  .hero-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $white;
  }
  .text-knowledge {
    width: 158px;
  }
  .text-joining {
    width: 88px;
  }

  .img-carousel {
    width: 350px;
    height: 280px;
    object-fit: cover;
  }
  .companies-logo-wrapper {
    padding-top: $space-companies-wrapper - 120px;
    margin-top: -$space-companies-wrapper + 120px;
  }
  .card-event-testimony {
    position: absolute;
    bottom: -50px;
    left: 120px;
  }
}

@include media-breakpoint-up(md) {
  .hero-title {
    font-size: 2rem;
    font-weight: 500;
    color: $white;
  }
  .text-knowledge {
    width: 196px;
  }
  .text-joining {
    width: 116px;
  }
  .img-carousel {
    width: 524px;
    height: 380px;
  }
  .companies-logo-wrapper {
    padding-top: $space-companies-wrapper - 120px;
    margin-top: -$space-companies-wrapper + 120px;
  }
  .card-event-testimony {
    position: absolute;
    bottom: -50px;
    left: 120px;
  }
}

@include media-breakpoint-up(lg) {
  .hero-title {
    font-size: 3rem;
    font-weight: 500;
    color: $white;
  }
  .text-knowledge {
    width: 256px;
  }
  .text-joining {
    width: 167px;
  }
  .img-carousel {
    width: 824px;
    height: 520px;
  }
  .companies-logo-wrapper {
    padding-top: $space-companies-wrapper;
    margin-top: -$space-companies-wrapper;
  }
  .card-event-testimony {
    position: absolute;
    left: 0;
  }
}
